
:root {
	box-sizing: border-box;
	--main-padding : 1.5em;
}
*,
::before,
::after {
	box-sizing: inherit;
}

body {
	background-color: #709b90;
	font-family: Helvetica, Arial, sans-serif;
}
body * + * {
	margin-top: 1.5em;
}



.container {
	max-width: 1080px;
	margin: 0 auto;
}


.site-nav {
	list-style: none;
	background-color: #5f4b44;

	/* padding-left: 0; */
	padding: 0.5em;
	display: flex;
}

.site-nav > li {
	margin-top: 0;
}
.site-nav > li + li { 					/* to all that after li */
	margin-left: .5em;
}
.site-nav > .nav-right {
	margin-left: auto;
}

.site-nav > li > a {
	text-decoration: none;
	color: #fff;
	background-color: #cc6b5a;
	border-radius: 0.2em;

	display: block;
	padding: 0.5em 1em; 					/* same padding-y as parent padding */
}


.tile {
	background-color: #fff;
	padding: 1.5em;
}

.flex {
	display: flex;
}

.flex > * + * {
	margin-top: 0;								/* Reset only 2nd item's margin if 1st parent */
	margin-left: 1.5em; 					/* add same margin as 2nd item have */
}



.column-main {
	flex: 2;
}

.column-sidebar {
	flex: 1;
}


.login-form h3 {
	margin-top: 0;
	font-size: .9em;
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
}

.login-form input:not([type=radio]):not([type=checkbox]) {
	margin-top: 0;
	display: block;
	width: 100%;
}

.login-form button {
	border: 1px solid #cc6b5a;
	padding: .5em 1em;
	margin-top: 1em;
	background-color: #fff;
	cursor: pointer;
}


.flexTest {
	display: flex;
}
.flexTest p {
	margin-top: 0;
	border: 1px solid #000;
}

.order {
	order : 0;
}

.centered {
	text-align: center;
}

.cost {
	display: flex;
	justify-content: center;
	align-items: center;
	line-height: 0.7;
}

.cost > span {
	margin-top: 0;
}

.cost-currency {
	font-size: 2rem;
}
.cost-dollars {
	font-size: 4rem;
}
.cost-cents {
	font-size: 1.5rem;
	align-self: flex-start;
}

.centered > small {
	font-weight: lighter;
}

.cta-button {
	color: #fff;
	background-color: #cc6b5a;
	padding: 0.5em 1em;
	display: block; 								/* inline element doesn't get margin */
	text-decoration: none;
}
/* */
